body {
    background-color: pink;
    color: antiquewhite;
    font-family: Open Sans, Arial, Helvetica, Arial, Helvetica, sans-serif;
}

img#logo { 
    width: 200px;
}

.t-50 {
    width: 50%
}

header {
    display:flex
}
nav{


 width: 100%;
}

ul{

 list-style: none;

 display: flex;
 flex-direction: row;

 float:right;
}

a{
    color: whitesmoke;
    font-family: golden_hopes, Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 10px;
}
@font-face {
    font-family: golden_hopes;
    src: url('../fonts/golden_hopes/GoldenHopes_PERSONAL_USE_ONLY.otf');

}

article {
    text-align: center;
    /* margin: 32px auto; */
    /* width: 80%; */
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

div#slider {
    background-image: url('../images/ecoeco.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px);
    animation: changegojira 5s infinite;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes changegojira {
    0% {
        background-image: url('../images/ecologia.jpeg');
    }

    25% {
        background-image: url('../images/ecoo2.jpeg');
    }

    50% {
        background-image: url('../images/productos-ecologicas.jpeg');

    }

    75% {
        background-image: url('../images/productos-ecologicos-alimentacion.jpeg');

    }

    100% {
        background-image: url('../images/eco24.jpeg');

    }
}
